<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>RapidClick-Redirecting</title>

	<!-- Google font -->
	<link rel = "shortcut icon" href ="http://download1478.mediafire.com/gs44kh3rf1rg/fh8or2o0qjk6z0t/image.png" type = "image/png" sizes="16x16"> 

</head>
<body>
<div style="background-color:black;">
    <center>
    <h1 style= color:white;font-family:Times New Roman;>
       
     Redirected in <span id="countdown">20</span> seconds...
     </h1>
    </center>
    </div>
<div>
  <center>
    <iframe src="{{long_url}} " width="1000" height="1000"></iframe>
  </center>
</div>
  <!-- JavaScript part -->
  <script type="text/javascript">
      
      // Total seconds to wait
      var seconds = 20;
      
      function countdown() {
          seconds = seconds - 1;
          if (seconds < 0)
           {
              // Chnage your redirection link here
              
              //window.location =;
              window.location.replace("{{ long_url }}");
              window.open("/task_done/{{ppc}}",'_blank')
          } 
          else 
          {
              // Update remaining seconds
              document.getElementById("countdown").innerHTML = seconds;
              // Count down using javascript
              window.setTimeout("countdown()", 1000);
             
          }
         
      }
      
      // Run countdown function
      countdown();
      
    // success: function(response)
  </script>
</body>
</html>